  
    <!-- FAQ --> 
  
 

        <div class='conta-acc'><h2> FAQ </h2>
          
        <button class='accordion2'>La consegna é possibile?</button>
        <div class='panel'>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specim</p>
        </div>
          
          
        <button class='accordion2'>Costa la spedizione?</button>
        <div class='panel'>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
        </div> 
        
        <button class='accordion2'>È possibile ritirare ?</button>
        <div class='panel'>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
        </div>
        
        <button class='accordion2'>pagamento sono accettati?</button>
        <div class='panel'>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
        </div>
        
        <button class='accordion2'>Pagare alla consegna?</button>
        <div class='panel'>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.  </p>
        </div>
        
        <button class='accordion2'>Posso pagare con Twint?</button>
        <div class='panel'>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.  
                    </p>
        </div>
        
        
        
         </div> 
        
    
            
        <style>
          
                @media (min-width:480px){.accordion2:hover {background:#f6f9f7} }
            
           .conta-acc {
          box-sizing:border-box; border:1px solid #fff; box-shadow:rgb(29 33 41 / 50%) 0px 0px 2px; border-radius:5px; 
          width:80%; margin: auto; padding:1rem 1rem 1.5rem 1rem; }
          
         .conta-acc h2{
          
              padding:0.8rem 0 1.8rem 0.4rem;
              font-weight:bold;
              position:relative;
              font-size:25px;
              line-height: 25px;
              text-align:left;
              font-family: 'Open Sans';
          
              }
          
        .accordion2 button{
          font-family: 'Open Sans';
          font-size: 18px;
          }
          
        .accordion2 {  
          background-color: #ebefec;
          color: #444;
          cursor: pointer;
          padding: 15px;
          width: 100%;
          border: none;
          text-align: left;
          outline: none;
          transition: 0.4s;
          border-radius: 0.5rem;;
        }
        

        
        .accordion2:after {
          content: '\002B';
          color: #777;
          font-weight: bold;
          float: right;
          margin-left: 5px;
        }
        
        .activeF:after {
          content: '\2212';
        }
        
        .panel {
          padding: 5px 18px;
          background-color: transparent;
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.2s ease-out;
        }
          
        .panel p{
          font-family: 'Open Sans';
          padding:1rem 0;
          font-size: 1rem;
        }
          
        button:focus {
            outline: none;
          }
          
        .conta-acc button{
          transition: 0.2s ease; font-family: 'Open Sans'; font-size:1.1rem; color:#2e2e2e;
          }
          
        button.activeF{
          font-weight:bold; transition: 0.2s ease;
          }
          
        </style>
          
          
          
         