
  <div class='navi w-full'>


  
    <a href="{{ .Site.Home.Permalink }}" class="capitalize font-extrabold text-2xl">
      {{ if .Site.Params.logo }}
      <img src="{{ .Site.Params.logo }}" alt="{{ .Site.Title }}" class="h-8 max-w-full" />
      {{ else }}
      {{ .Site.Title }}
      {{ end }}
    </a>

  
    <button class='navbar-toggler menu-toggle'><span class='hamburger2'></span></button>
    
      
        <div class='main-menu flex items-center '>
  
  
          {{ $currentPage := . }}
          {{ range .Site.Menus.main }}


          
          <li class="nav-item flex items-center relative {{ if $currentPage.HasMenuCurrent "main" . }}activeX{{ end }}">
          <a class='nav-link' href="{{ .URL | relLangURL }}"><span>{{ .Name }}</span></a>

          
          
            {{ if .HasChildren }}        
          <span class="drop-icon hrefhmeno" for="{{ .Name }}">▾</span>

            <ul class="sub-menu text-right text-gray-900 transition-colors dark:text-gray-200 dark:bg-gray-800">
                {{ range .Children }}
                <li class="nav-item flex items-center {{ if $currentPage.HasMenuCurrent "main" . }}activeX{{ end }}">
                <a href="{{ .URL | relLangURL }}" class="px-3 py-2"><span>{{ .Name }}</span></a></li>
                
                 {{ end }}
            </ul>
 

            {{ end }}




          </li>
          {{ end }}




          <style>

  
            
            .activeX {color:red!important}
            
            
            .sub-menu {
              opacity:0;
              position:absolute;
              transform: translate(-50px, 80px);
               z-index: 99;
              background: white;
              visibility:hidden;
              border-radius: 0.5rem;
              padding:5px;
              transition: all 0.3s ease;
            }

            .sub-menu li a {margin-right:0!important; font-size: 16px!important;}
            

            @media (min-width: 768px) {

            /*  .main-menu li .nav-link:not([href*="shop"]) {color:red!important;} */

              body > header > div > div > li:nth-child(4):hover .sub-menu {
                                opacity:1;
                                transform: translate(-16px, 80px);
                                visibility: visible!important;
                                transition: all 0.3s ease;
                              }


              .sub-menu li a:hover {text-decoration: underline;}                

              }


    .drop-icon {
    /* transform: translateY(-4px); */
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    padding-top:2px;
    padding-left: 48px;
    z-index:67;
    cursor: default;
}

            @media (max-width: 768px) {
              

            .sub-menu {
            max-height:0;
            position:relative;
            transform: translate(0, 0);
            background:transparent;
            padding: 0;
            }

            .sub-menu li:nth-child(1) {
            padding-top:0.8rem!important;
            } 

            .sub-menu a {
            padding:0!important;
            margin-left:10px;
            }

            body > header > div > div > li:nth-child(4) {display:block; }
            body > header > div > div > li:nth-child(4) > a {pointer-events: none}
            

            }
              
            
            </style>
  



  
  
      {{ if .Site.IsMultiLingual }}
      {{ if ge (len .Site.Languages) 3 }}
      <li class="relative cursor-pointer">
        <span class="language-switcher flex items-center gap-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
            stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <circle cx="12" cy="12" r="9" />
            <line x1="3.6" y1="9" x2="20.4" y2="9" />
            <line x1="3.6" y1="15" x2="20.4" y2="15" />
            <path d="M11.5 3a17 17 0 0 0 0 18" />
            <path d="M12.5 3a17 17 0 0 1 0 18" />
          </svg>
          <a>{{ i18n "languageSwitcherLabel" }} </a>
          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14"
            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M18 15l-6 -6l-6 6h12" transform="rotate(180 12 12)" />
          </svg>
        </span>
        <div
          class="language-dropdown absolute top-full mt-2 left-0 flex-col gap-2 bg-gray-100 dark:bg-gray-900 dark:text-white z-10 hidden">
          {{ range .Site.Languages }}
          {{ if not (eq .Lang $.Site.Language.Lang) }}
          <a class="px-3 py-2 hover:bg-gray-200 dark:hover:bg-gray-700" href="/{{ .Lang }}" lang="{{ .Lang }}">{{ default .Lang .LanguageName }}</a>
          {{ end }}
          {{ end }}
        </div>
      </li>
      {{ else }}
      <li class="flex items-center  relative">
        {{ range .Site.Languages }}
        {{ if not (eq .Lang $.Site.Language.Lang) }}
        <svg xmlns="http://www.w3.org/2000/svg" class="sprache" class="mr-2" width="16" height="16" viewBox="0 0 24 24" stroke-width="1.5"
          stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <circle cx="12" cy="12" r="9" />
          <line x1="3.6" y1="9" x2="20.4" y2="9" />
          <line x1="3.6" y1="15" x2="20.4" y2="15" />
          <path d="M11.5 3a17 17 0 0 0 0 18" />
          <path d="M12.5 3a17 17 0 0 1 0 18" />
        </svg>
        <a class="nav-link" href="/{{ .Lang }}" lang="{{ .Lang }}">{{ default .Lang .LanguageName }}</a>
        {{ end }}
        {{ end }}
      </li>
      {{ end }}
      {{ end }}
  
      {{ if .Site.Params.enableSearch }}
      <li class="flex items-center navicon relative ">
        <span class="open-search inline-block cursor-pointer">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <circle cx="10" cy="10" r="7" />
            <line x1="21" y1="21" x2="15" y2="15" />
          </svg>
        </span>
      </li>
      {{ end }}
  
      {{ if .Site.Params.darkModeToggle }}
      <li class="flex items-center navicon relative">
        <span class="toggle-dark-mode inline-block cursor-pointer">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <circle cx="12" cy="12" r="3" />
            <line x1="12" y1="5" x2="12" y2="5.01" />
            <line x1="17" y1="7" x2="17" y2="7.01" />
            <line x1="19" y1="12" x2="19" y2="12.01" />
            <line x1="17" y1="17" x2="17" y2="17.01" />
            <line x1="12" y1="19" x2="12" y2="19.01" />
            <line x1="7" y1="17" x2="7" y2="17.01" />
            <line x1="5" y1="12" x2="5" y2="12.01" />
            <line x1="7" y1="7" x2="7" y2="7.01" />
          </svg>
        </span>
        </li>
      {{ end }}

      








    
  </div>
  
  
  
  
  <style>
  
  .main-menu {
    width:100%;
    display: flex;
    flex-basis: auto;
    justify-content: flex-end;
    }
  
  @media (max-width: 768px) {
   .main-menu {
    max-height:0;
    visibility:hidden; 
    opacity:0;
    justify-content: flex-start;
    transform: translateY(-20px);
    transition: all 0.3s ease;
    align-items: flex-start;
  }
  
  
  
  .showin {
    max-height:100em!important;
    visibility:visible;
    opacity:1;
    transform: translateY(0);
    transition: all 0.3s ease;
    }
  
  }
  
  button,
textarea,
input,
select,
a, 
.hamburger2 {
 -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
 -webkit-tap-highlight-color: transparent;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
  user-select: none;

}
      
  .hamburger2,
  .hamburger2::before,
  .hamburger2::after {
    content: "";
    display: block;
    background: gray;
    height: 4px;
    width: 1.75em;
    border-radius: 3px;
    transition: all 0.3s ease;
  
  }
  
  .hamburger2::before {
    transform: translateY(-10px);
  }
  
  .hamburger2::after {
    transform: translateY(6px);
  }
  
  .open .hamburger2 {
    transform: rotate(45deg);
  }
  
  .open .hamburger2::before {
    opacity: 0;
  }
  
  .open .hamburger2::after {
    transform: translateY(-3px) rotate(-90deg);
  }
  
  
  .menu-toggle {
    padding: 0.25rem;
    position: absolute;
    top: 2em;
    right: 1.2em;
    cursor: pointer;
    z-index:99!important;
  }
  
  .search-ui {z-index:100}
  
  .navi button:focus {outline:none!important} 
  
  .nav-link, .navicon {position:relative}       
          
  .main-menu li a {
  margin-right:2rem;
  font-size:large;
  font-weight:500;
  } 
  
  .nav-link, .navicon {
      margin-right: 1em;
  }
             
  
  @media (min-width: 768px) {
    .menu-toggle {display:none;}
  
  
    .navi {display: flex; justify-content: space-around;}
          
    .nav-link::before {
      content: "";
      display: block;
      height: 1px;
      background: gray;
      position: absolute;
      bottom: -2px;
      right: 0;
      left:0;
      transform: scale(0, 1);
      transition: transform ease-in-out 250ms; /*alternativa transform-origin:right;*/
   }
          
  .main-menu .nav-link:hover::before {transform: scale(0.8,1);   /*alternativa transform-origin:left;*/
          } 
  
  .navicon:hover {transform:scale(1.18)}
  
  }     
  
  
  
  @media (max-width: 768px) {
    .main-menu {flex-direction:column;}
    .main-menu li:nth-child(1) {padding-top:1.3rem}
  
    #logox {padding-left:1rem; }
    .navicon {display: flex !important;}
   .main-menu li {padding: 5px 0; margin-top:5px;} 
    } 
  
  
         
  .wildcard{transform:translateY(500px); opacity:0; transition:.3s ease-in-out;}      
        
          
   
  </style>